main{
    background-color: rgb(234, 238, 5);
    height: 400px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

div{
    background-color: blue;
    height: 100px;
    width: 100px;
    outline: 2px solid black;
}